@using NewsSite.ViewModel
@model NewsDetailsModel
@{
    ViewData["Title"] = "Update News";
    SelectList cat = (SelectList)@ViewBag.Categories;
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-controller="News" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="NewsID" name="NewsID" />

            <div class="form-group">
                <label asp-for="NewsTitle" class="control-label"></label>
                <input asp-for="NewsTitle" class="form-control" />
                <span asp-validation-for="NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SmallDescription" class="control-label"></label>
                <input asp-for="SmallDescription" class="form-control" />
                <span asp-validation-for="SmallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsText" class="control-label"></label>
                <input asp-for="NewsText" class="form-control" />
                <span asp-validation-for="NewsText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SortOrder" class="control-label"></label>
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VisitCount" class="control-label"></label>
                <input asp-for="VisitCount" class="form-control" />
                <span asp-validation-for="VisitCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteSumation" class="control-label"></label>
                <input asp-for="VoteSumation" class="form-control" />
                <span asp-validation-for="VoteSumation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoteCount" class="control-label"></label>
                <input asp-for="VoteCount" class="form-control" />
                <span asp-validation-for="VoteCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span> Your Old Image is : </span>
                <img src="@Url.Content(Model.ImageUrl)" width="200" />
            </div>
            <div class="form-group">
                <span> Select a new Image If Image Must Change</span>
                <input type="file" name="Picture" id="Picture" value="" />
            </div>
            <div class="form-group">
                <label asp-for="NewsCategoryID" class="control-label"></label>
                <select asp-for="NewsCategoryID" asp-items="@cat" class="form-control">
                </select>
                <span asp-validation-for="NewsCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
                <a href="Index" class="btn btn-success">Cancel</a>
            </div>
        </form>
    </div>
</div>
