<div style="position:relative" >
    <div class="waiting">
        <img src="~/pics/spinner.gif" />
    </div>
</div>
<span class="btn btn-success btn-add" data-action="Add" data-controller="NewsCategory" >Add New</span>
<div id="dvContent" data-controller="NewsCategory" data-action="List" data-search-form="frmSeach">

</div>
